<h1>Contact Me</h1>

<form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleName1">Name</label>
    <input type="Name" class="form-control" id="exampleName1" placeholder="Enter Name">
  </div>
  <div>
    <label for="exampleMessage1">Message</label>
    <textarea class="form-control" rows="5" placeholder="Enter Message Here"></textarea>
  </div>
  <br>
  <button type="submit" class="btn btn-default">Submit</button>
</form>