  <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Topics</h2>
          <p>Wondering what Code for Atlanta is up to? Wanna find a project to contribute to? Click the button below!</p>
          <p><a class="btn btn-default" href="/projects" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Events</h2>
          <p>Code for Atlanta is always adding new events for people of all skill levels. Hackathons and meetups can be found by clicking below.</p>
          <p><a class="btn btn-default" href="/events" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Tech</h2>
          <p>Search for projects based on the type of technology used.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>

        </div>
      </div>
