  <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Code for Atlanta</h1>
        <p>This is a template for the Code for Atlanta event tracking app. Add copy here. I'm not quite sure what to put and I am not good at copy. Now I am just trying to fill space.</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="/welcome/about">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Topics</h2>
          <p>Wondering what Code for Atlanta is up to? Wanna find a project to contribute to? Click the button below!</p>
          <p><a class="btn btn-default" href="/projects" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Events</h2>
          <p>Code for Atlanta is always adding new events for people of all skill levels. Hackathons and meetups can be found by clicking below.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Organizations</h2>
          <p>Find which of your favorite local organizations help out with code for Atlanta.</p>
          <p><a class="btn btn-default" href="/organizations" role="button">View details &raquo;</a></p>

        </div>
      </div>
