<div class="row">
  <div class="col-sm-8 col-sm-offset-2">

    <div class="text-center">
      <%= image_tag "logo-large-transparent.png", width: "600px" %>
    </div>

    <p>Civic Spark Day is a day of learning and brainstorming led by Code for Atlanta. The day opens with an introduction to civic tech as a national and global movement. Then, attendees will participate in a beginner-level workshop on web development. Lunch will consist of roundtable conversations on local civic issues. Following that will be a workshop on building a neighborhood website. To close Civic Spark Day, attendees will gather together for a collective brainstorm on potential civic projects.</p>
    <p>Code for Atlanta organizer <a href="https://twitter.com/fwallacephd">Dr. Faith Wallace</a> has designed the workshop curriculum and will lead instruction. Teaching assistants will be available to help attendees during the workshops.</p>

    <h3>Apply to Attend</h3>
    <p>Civic Spark Day is for <strong>true novices to coding</strong>: people who've never coded before but want to learn. The workshops will focus on website development: HTML, CSS, and a little JavaScript. We particularly invite members of Atlanta's civic and social innovation community to attend.</p>
    <p>Space is limited to 20 attendees, so we ask that you fill out an application for admission. Admission is free.</p>

    <div class="text-center">
      <a class="btn btn-primary btn-lg" href="https://goo.gl/forms/bUQQW4zzD85GWQAf1">Apply now</a>
    </div>

    <h3>Schedule for Saturday, November 3</h3>
    <ul>
      <li>9:30 am: Doors open, light breakfast + coffee</li>
      <li>10:00 am: Opening session: Civic Tech 101</li>
      <li>10:30 am: Workshop 1: Introduction to Web Development</li>
      <li>12:00 pm: Lunch</li>
      <li>1:00 pm: Workshop 2: Build a Website for Your Neighborhood</li>
      <li>2:30 pm: Collective Brainstorm</li>
      <li>3:00 pm: Close</li>
    </ul>

    <h3>Venue</h3>
    <p>We’ll be hosted in the brand new <a href="https://goo.gl/maps/JjnFxWnPyL22">Flatiron School campus at Colony Square</a> in Midtown. In addition to hosting us, <a href="https://flatironschool.com/campuses/atlanta/">Flatiron School</a> is generously sponsoring food and drink for the day.</p>
    <div class="text-center">
      <a href="https://flatironschool.com/campuses/atlanta/"><%= image_tag "flatiron-school.png", width: "300px" %></a>
    </div>

  </div>
</div>
