=form_for @project, :html => { :multipart => true } do |f|
  .form-group
    =f.label :name, "Name"
    =f.text_field :name, class: "form-control"

  .form-group
    =f.label :short_description, "Short Description (150 characters)"
    =f.text_area :short_description, maxlength: 150, class: "form-control"

  .form-group
    =f.label :description, "Description"
    =f.text_area :description, class: "form-control"

  .form-group
    =f.label :link, "Additional Project Links"
    =f.text_field :link, class: "form-control"

  .form-group
    =f.label :photo, "Add a Picture"
    =f.file_field :photo

  =f.submit :class => "btn btn-primary"
