// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
	background-image:url("Atlanta_Skyline_from_Buckhead.jpg");
	background-color: #000;
  
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height:100%;
}
.jumbotron p {
	color: #fff;
}
.jumbotron h1 {
	color: #fff;
}