<div class="container push-top">
  <div class="row">
  	<h1>Editing organization</h1>

<%= render 'form' %>

<%= link_to 'Show', @organization %> |
<%= link_to 'Back', organizations_path %>

</div>
</div>
